@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swa");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
  font-style: normal;
  font-size: 1vw;
}

body {
  position: relative;
  background-color: rgba(255, 254, 250, var(--tw-bg-opacity));
  background-image: url(assets/image/pink_light_background_gradient.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: center;
  text-rendering: optimizeLegibility;
  overflow-y: hidden;
}

#root {
  width: 100%;
}

.feed-page {
}

.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.masonry-grid-column {
  background-clip: padding-box;
  padding-left: 1rem;
}

.article-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
  overflow: hidden;
  width: 24rem;
  /*
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
  */
}

.article-card-important {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
  overflow: hidden;
  width: 24rem;
  transform: scale(1);
	animation: pulse 5s infinite;
  /*
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
  */
}

.article-image {
  max-width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: 50% 50%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.article-textbox {
}

.article-title {
  margin: 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

.article-description {
  margin: 0.5rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-align: center;
  word-wrap: break-word;
}

.article-bottom {
  display: flex;
  flex-direction: row;
  width: 24rem;
}

.article-publish-group {
  width: 10rem;
  margin-bottom: 5px;
  margin-right: 7px;
  text-align: right;
  align-self: flex-end;
}

.article-publish-group div {
  font-size: 0.6rem;
}

.article-tag-group {
  display: inline-block;
  width: 14rem;
  margin-bottom: 5px;
  margin-left: 7px;
  text-align: left;
  align-self: flex-end;
}

.fa-hash-icon {
  width: 0.6rem;
  height: auto;
}

.article-tag {
  max-width: 14rem;
  font-size: 0.6rem;
}

.floating-text {
  position: fixed;
  margin-top: 0.5rem;
  height: 2rem;
  min-width: 100%;
  bottom: 0;
}

.floating-text p {
  font-size: 1.2rem;
  font-weight: 500;
}

/*
.headline {
  color: black;
}

.headline-important {
  color: gold;
}
*/

.video-page {
  height: 100vh;
  width: 100vw;
}

#video {
  position: fixed;
  z-index: -1;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

  40% {
    transform: scale(1)
  }

  50% {
    transform: scale(0.95)
  }

	60% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}