@font-face {
    font-family: "mdprimer-regular";
    src: url(assets/fonts/mdprimer-regular.otf);
}

@font-face {
    font-family: "mdprimer-medium";
    src: url(assets/fonts/mdprimer-medium.otf);
}

@font-face {
    font-family: "mdprimer-light";
    src: url(assets/fonts/mdprimer-light.otf);
}

@font-face {
    font-family: "mdprimer-bold";
    src: url(assets/fonts/mdprimer-bold.otf);
}

@font-face {
    font-family: "mdprimer-semibold";
    src: url(assets/fonts/mdprimer-semibold.otf);
}

@font-face {
    font-family: "mdprimer-black";
    src: url(assets/fonts/mdprimer-black.otf);
}